# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# C# files
[*.cs]
indent_size = 4
max_line_length = 120

# GDScript files (for future Godot migration)
[*.gd]
indent_style = tab
indent_size = 4
max_line_length = 88

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
indent_size = 2
max_line_length = 80

# XML files (project files, etc.)
[*.{xml,csproj,sln,vcxproj,props,targets}]
indent_size = 2

# Config files
[*.{config,cfg}]
indent_size = 2

# Godot project file
[project.godot]
indent_style = space
indent_size = 4

# Godot scene files
[*.tscn]
indent_style = space
indent_size = 4

# Godot resource files
[*.tres]
indent_style = space
indent_size = 4
